* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    
}

body {
    background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364);
    background-size: 400% 400%;
    animation: gradientBG 12s ease infinite;
    min-height: 100vh;
    color: white;
}

@keyframes gradientBG {
    0% {background-position:0% 50%;}
    50% {background-position:100% 50%;}
    100% {background-position:0% 50%;}
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.form-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
}

input, select {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    gap: 20px;
}

.stat-card {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.1);
    transition: 0.3s;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.total { border-left: 5px solid #00f5d4; }
.paid { border-left: 5px solid #00ff88; }
.unpaid { border-left: 5px solid #ff4d6d; }

.controls {
    text-align: center;
    margin-bottom: 20px;
}

.chart-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.expense-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.expense-card {
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
    transition: 0.2s ease;
    transform-style: preserve-3d;
}

.expense-card:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.badge {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.badge-paid { background: #00ff88; color: black; }
.badge-unpaid { background: #ff4d6d; }

.dark-mode {
    background: #111;
}